@using HuntingModel.Localization
<!DOCTYPE html>
<!--[if lte IE 8 ]><html class="ie ie8 lte8 lte9 oldie" lang="@ViewBag.LangShort"><![endif]-->
<!--[if IE 9 ]><html class="ie ie9 lte9" lang="@ViewBag.LangShort"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="not-ie" lang="@ViewBag.LangShort">
<!--<![endif]-->
    <head>
        @Html.Action("ScriptDefine", "Home")
        <title>@GlobalRes.TITLE_APPLICATION | @ViewBag.Title</title>
        @RenderSection("headscripts", required: false)
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink(GlobalRes.TITLE_APPLICATION, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink(GlobalRes.BUTTON_HOME, "Index", "Home")</li>
                        <li>@Html.ActionLink(GlobalRes.BUTTON_ABOUT, "About", "Home")</li>
                        <li>@Html.ActionLink(GlobalRes.BUTTON_CONTACT, "Contact", "Home")</li>
                    </ul>
                    @Html.Action("AdminMenu", "Account")
                    @Html.Action("LanguageSelection", "Account")
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - @GlobalRes.TITLE_APPLICATION</p>
            </footer>
        </div>
        <!-- alert start -->
        <div class="alert alertWindow fade in" data-example-id="dismissible-alert-js" id="alertWindow_id">
            <div class="container alertWindow_content">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
                <h5 class="alertText"></h5>
            </div><!-- / .alertWindow_content -->
        </div><!-- / .alertWindow -->
        <!-- alert ends -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @Html.Action("AlertMessage", "Home")
    </body>
</html>
