@using HuntingModel.Localization
@model HuntingModel.ViewModel.TerritoryModels.TerritoryDetailModel
@{ 
    ViewBag.Title = TerritoryRes.PAGE_TITLE_DETAIL;
}

<h2>@TerritoryRes.PAGE_TITLE_DETAIL - @Model.Name</h2>
<h4>@Model.Description</h4>
<hr />

@if (Model.ContactList != null && Model.ContactList.Count > 0)
{
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                <h3>@TerritoryRes.LABEL_CONTACT_REQUEST</h3>
                <table class="table table-data table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">@TerritoryRes.COLUMN_CONTACT_NAME</th>
                            <th class="text-center">@TerritoryRes.COLUMN_CONTACT_MESSAGE</th>
                            <th class="text-center">@GlobalRes.COLUMN_ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for (int index = 0; index < Model.ContactList.Count; index++)
                    {
                        var item = Model.ContactList[index];
                        <tr>
                            <td>@item.UserName</td>
                            <td>@item.Message</td>
                            <td class="edit text-center">
                                <a href="#" data-action="contact-accept" data-id="@item.Id" class="btn btn-md btn-default">@TerritoryRes.BUTTON_CONTACT_ACCEPT</a>
                                <a href="#" data-action="contact-dismiss" data-id="@item.Id" class="btn btn-md btn-info">@TerritoryRes.BUTTON_CONTACT_DISMISS</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-8">
        <div class="well">
            <strong>@TerritoryRes.DETAIL_MAP</strong><br />
            <div class="map-block">
                <div id="map-canvas" class="canvas"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h4>@TerritoryRes.LABEL_LEGEND</h4>
        <div class="panel-group" id="map-legend">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="header-map-area" data-toggle="collapse" data-parent="#map-legend" href="#collapse-area">
                            @TerritoryRes.LABEL_LEGEND_MAP_AREA
                        </a>
                    </h4>
                </div>
                <div id="collapse-area" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="btn-group-vertical btn-block">
                            @foreach (var mapArea in Model.MapAreaList)
                            {
                                <button class="btn btn-md btn-default map-area-focus" data-index="@mapArea.Index">@mapArea.Name</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var mapItemType in Model.MapItemTypeList)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="header-map-item-@mapItemType.Id" data-toggle="collapse" data-parent="#map-legend" href="#collapse-@mapItemType.Id">
                                @mapItemType.Name
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-@mapItemType.Id" class="panel-collapse collapse">
                        <div class="panel-body">
                            @foreach (var mapItem in mapItemType.ItemList)
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-md btn-default map-item-focus middle-button" data-index="@mapItem.Index">@mapItem.Name</button>
                                        <div class="pull-right action-buttons">
                                            <a href="@Url.Action("Index", "CheckIn", new { id = mapItem.Id })" class="btn btn-md btn-default"><span class="glyphicon glyphicon-check"></span></a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="header-map-item-user-point" data-toggle="collapse" data-parent="#map-legend" href="#collapse-user-point">
                            @TerritoryRes.LABEL_LEGEND_USER_POINTS
                        </a>
                    </h4>
                </div>
                <div id="collapse-user-point" class="panel-collapse collapse ">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="@Url.Action("Create", "UserPoint", new { territoryId = Model.Id })" class="btn btn-md btn-default pull-right"><span class="glyphicon glyphicon-plus"></span></a>
                            </div>
                        </div>
                        @foreach (var mapItem in Model.UserMapItemList)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-md btn-default map-item-focus @(mapItem.CanUpdate ? "short-button" : "btn-block")" data-index="@mapItem.Index">
                                        @mapItem.Name
                                    </button>
                                    @if (mapItem.CanUpdate)
                                    {
                                        <div class="pull-right action-buttons">
                                            <a href="@Url.Action("Update", "UserPoint", new { id = mapItem.Id })" class="btn btn-md btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                                            <button class="btn btn-md btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="header-map-item-user-location" data-toggle="collapse" data-parent="#map-legend" href="#collapse-user-location">
                            @TerritoryRes.LABEL_LEGEND_USER_LOCATION
                        </a>
                    </h4>
                </div>
                <div id="collapse-user-location" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="btn-group-vertical btn-block">
                            @foreach (var mapItem in Model.UserLocationList)
                            {
                                <button class="btn btn-md btn-default map-item-focus" data-index="@mapItem.Index">@mapItem.Name</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-group-vertical btn-block">
            @if (Model.CanUpdate)
            {
                @Html.ActionLink(TerritoryRes.BUTTON_UPDATE, "Update", "Territory", new { id = Model.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink(TerritoryRes.BUTTON_PERSON_LIST, "PersonList", "Territory", new { id = Model.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink(TerritoryRes.BUTTON_MAP_ITEM_TYPE_LIST, "Index", "MapItemType", new { id = Model.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink(TerritoryRes.BUTTON_UPDATE_MAP, "UpdateMap", "Territory", new { id = Model.Id }, new { @class = "btn btn-info" })
            }
            @Html.ActionLink(GlobalRes.BUTTON_BACK, "Index", "Home", null, new { @class = "btn btn-default btn-md" })
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=@(ViewBag.GoogleMapKey)">
    </script>

    <script>
        function huntingMapDataInit(polygonArray, mapPointArray) {
            @Html.Raw(Model.ToMapInitString(false, "polygonArray", "mapPointArray"))
        }

        function onHuntingMapAfterInit(map, bounds) {
        }

    </script>

    <script src="~/Content/map-detail.js">
    </script>

    <script type="text/javascript">

        function ContactActionClick() {
            var itemId = $(this).data('id');
            var accept = $(this).data('action') === 'contact-accept';
            $.ajax({
                url: BASE_URL + "Territory/ContactAction", method: "POST", data: { id: itemId, accept: accept },
                success: function (data) {
                    window.location = BASE_URL + "Territory/Index/@Model.Id";
                }
            });
            return false;
        }

        $(document).ready(function () {
            google.maps.event.addDomListener(window, 'load', mapDetailInitialize);

            $('a[data-action=contact-accept]').on('click', ContactActionClick);
            $('a[data-action=contact-dismiss]').on('click', ContactActionClick);
        });
    </script>
}
