@using HuntingModel.Localization 
@model HuntingModel.ViewModel.HomeModels.HomeViewModel
@{
    ViewBag.Title = HomeRes.PAGE_TITLE_HOME;
}

<div class="jumbotron">
    <h1>@GlobalRes.TITLE_APPLICATION</h1>
    <p class="lead">@GlobalRes.SUBTITLE_APPLICATION</p>
</div>

<h2>@HomeRes.TITLE_TERRITORY</h2>
<hr />

<div class="row">
    <div class="col-md-8">
        @if (Model.IsUserLogged)
        {
            if (Model.StewardList.Count == 0 && Model.HunterList.Count == 0)
            {
                if (Model.CanCreate == false)
                {
                    <p>@HomeRes.LABEL_START_FREE</p>
                }
                else
                {
                    <p>@HomeRes.LABEL_START_PAYED</p>
                }
            }
            else
            {
                if (Model.StewardList.Count > 0)
                {
                <p>
                    @HomeRes.LABEL_STEWARD
                    <ul>
                        @foreach (var territory in Model.StewardList)
                        {
                            <li>@Html.ActionLink(territory.Name, "Index", "Territory", new { id = territory.Id }, null)</li>
                        }
                    </ul>
                </p>
                }
                if (Model.HunterList.Count > 0)
                {
                    <p>
                        @HomeRes.LABEL_HUNTER
                        <ul>
                            @foreach (var territory in Model.HunterList)
                            {
                                <li>@Html.ActionLink(territory.Name, "Index", "Territory", new { id = territory.Id }, null)</li>
                            }
                        </ul>
                    </p>
                }
            }
            <p>
                @if (Model.CanCreate)
                {
                    @Html.ActionLink(TerritoryRes.BUTTON_CREATE, "Create", "Territory", null, new { @class = "btn btn-info" })
                }
                @if (Model.CanContact)
                {
                    @Html.ActionLink(TerritoryRes.BUTTON_CONTACT, "List", "Territory", null, new { @class = "btn btn-default" })
                }
            </p>
        }
        else
        {
            <p>@HomeRes.LABEL_START_LOGIN</p>
        }
    </div>
</div>