@using HuntingModel.Localization
@using HuntingModel.Enumeration
@model HuntingModel.ViewModel.QuestionModels.QuestionListModel
@{
    ViewBag.Title = QuestionRes.PAGE_TITLE_LIST;
}

<h2>@QuestionRes.PAGE_TITLE_LIST</h2>
<h4>@QuestionRes.LABEL_LIST_INFO</h4>
<hr />

@using (Html.BeginForm("Move", "Question"))
{
    <input type="hidden" id="question-id" name="Id" />
    <input type="hidden" id="is-move-up" name="IsMoveUp" />
    <div class="row">
        <div class="col-md-8">
            <table class="table table-data table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-center">@QuestionRes.COLUMN_NAME</th>
                        <th class="text-center">@QuestionRes.COLUMN_DESCRIPTION</th>
                        <th class="text-center">@QuestionRes.COLUMN_TYPE</th>
                        <th class="text-center">@GlobalRes.COLUMN_ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ItemList.Count == 0)
                    {
                        <tr class="no-data"><td colspan="5">@GlobalRes.LABEL_TABLE_EMPTY</td></tr>
                    }
                    else
                    {
                        foreach (var item in Model.ItemList)
                        {
                            <tr>
                                <td>
                                    @if (item.IsFirst == false)
                                    {
                                        <button type="submit" class="btn btn-info glyphicon glyphicon-arrow-up move-question" data-id="@item.Id" data-is-move-up="true"></button>
                                    }
                                    @if (item.IsLast == false)
                                    {
                                        <button type="submit" class="btn btn-info glyphicon glyphicon-arrow-down move-question" data-id="@item.Id" data-is-move-up="false"></button>
                                    }
                                </td>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.QuestionType</td>
                                <td class="edit text-center">
                                    @Html.ActionLink(GlobalRes.BUTTON_UPDATE, "Update", "Question", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                                    <a href="#" data-toggle="modal" data-target="#delete-modal" data-id="@item.Id" class="btn btn-sm btn-default">@GlobalRes.BUTTON_DELETE</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="btn-group-vertical btn-block">
                @Html.ActionLink(GlobalRes.BUTTON_CREATE, "Create", "Question", new { questionnaireId = Model.QuestionnaireId }, new { @class = "btn btn-info btn-md" })
                @Html.ActionLink(GlobalRes.BUTTON_BACK, "Index", "Questionnaire", new { id = Model.MapItemTypeId }, new { @class = "btn btn-default btn-md" })
            </div>
        </div>
    </div>
}
<div>
    <!-- Delete Modal -->
    <div id="delete-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            @using (Html.BeginForm("Delete", "Question", FormMethod.Post))
            {
                <!-- Modal content-->
                <input type="hidden" id="delete-id" />
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@QuestionRes.MODAL_TITLE_DELETE</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="delete-type-id" name="id" />
                        <p>@QuestionRes.CONFIRM_DELETE</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="invite-submit" class="btn btn-info">@GlobalRes.BUTTON_OK</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">@GlobalRes.BUTTON_ABORT</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#delete-modal').on('show.bs.modal', function (e) {
                var itemId = $(e.relatedTarget).data('id');
                $(e.currentTarget).find('#delete-type-id').val(itemId);
            });
            $('.move-question').on('click', function (e) {
                $('#question-id').val($(this).data('id'));
                $('#is-move-up').val($(this).data('is-move-up'));
            });
        });
    </script>
}
