@using HuntingModel.ViewModel.AccountModels
@using HuntingModel.Localization
@model LoginModel
@{
    ViewBag.Title = AccountRes.PAGE_TITLE_LOGIN;
}

<h2>@AccountRes.PAGE_TITLE_LOGIN</h2>
<h4>@AccountRes.LABEL_LOGIN_INFO</h4>
<hr />

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RememberMe, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(model => model.RememberMe)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@AccountRes.BUTTON_LOGIN" class="btn btn-info" />
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="btn-group-vertical btn-block">
                @Html.ActionLink(AccountRes.BUTTON_FORGOTTEN_PASSWORD, "ForgottenPassword", "Account", null, new { @class = "btn btn-default btn-md" })
                @if (Model.CanDemo)
                {
                    <input type="submit" value="@AccountRes.BUTTON_DEMO_LOGIN" class="btn btn-info btn-md" />
                }
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}